body {
  color: lightgreen;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}


/* input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

select:focus {
  outline: none;
} */